@import '../../../../styles/styles';

.card {
  border-radius: 10px;
  @extend .color-background-5;
  color: var(--text-color) !important;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
}

//
.token-icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.exchange-arrow {
  font-size: 24px;
}

span {
  font-family: $font-family-inter;
}

div .light {
  font-size: 13px !important;
  font-weight: 300 !important;
}

div .med {
  font-size: 14px !important;
  font-weight: 500 !important;
}
