.header {
   background-color: #210b54;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 18px 16px;
}

.header__text-link {
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   background: linear-gradient(90deg, rgba(186, 41, 253, 1) 0%, rgba(231, 109, 161, 1) 100%);
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.header__img-for-text-link {
   width: 10.5px;
}

.header__content-box {
   display: flex;
   align-items: center;
   gap: 30px;
}

.header__link-dashboard,
.header__link-coinlist {
   display: flex;
   align-items: center;
   gap: 5px;
}

.button-box__Log-in {
   font-size: 12px;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   background: linear-gradient(90deg, rgba(186, 41, 253, 1) 0%, rgba(231, 109, 161, 1) 100%);
   padding: 5px 40px;
   border-radius: 50px;
}

.header__button-box {
   display: flex;
   align-items: center;
   gap: 15px;
}

.header__text-link-to-main {
   font-size: 32px;
   font-family: "Philosopher", sans-serif;
   font-weight: 700;
   line-height: 28px;
   letter-spacing: -0.37px;
   background: linear-gradient(90deg, rgba(186, 41, 253, 1) 0%, rgba(231, 109, 161, 1) 100%);
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 700px) {

   .button-box__language,
   .button-box__setting {
      display: none;
   }
}

@media screen and (max-width: 550px) {
   .header__button-box {
      display: none;
   }

   .header__content-box {
      gap: 10px;
   }
}