<header class="header">
   <div class="header__logo-box">
      <a href="main" class="header__link-to-main">
         <span class="header__text-link-to-main">Metacoin</span>
      </a>
   </div>
   <div class="header__content-box">
      <a class="header__link-dashboard" href="dashboard">
         <span class="header__text-link">Dashboard</span>
         <img class="header__img-for-text-link" src="../../../assets/header-img/arrow.svg" alt="img">
      </a>
      <a class="header__link-coinlist" href="coinlist">
         <span class="header__text-link">CoinList</span>
         <img class="header__img-for-text-link" src="../../../assets/header-img/arrow.svg" alt="img">
      </a>
   </div>
   <div class="header__button-box button-box">
      <a class="button-box__language" href="/">
         <img src="../../../assets/header-img/language.svg" alt="img">
      </a>
      <a class="button-box__setting" href="/">
         <img src="../../../assets/header-img/setting.svg" alt="img">
      </a>
      <a class="button-box__Log-in" href="authorization">Log in</a>
   </div>
</header>