@import '../../../../../styles/styles';

.balance-values {
  display: flex;
  gap: 10px;
  color: var(--text-color);
}

.balance-title {
  color: var(--text-color) !important;
  font-weight: 500;
  font-size: 16px;
  font-family: $font-family-inter;
}

span {
  @extend .gradient-text-static;
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
  font-family: $font-family-inter;
}


