<body>
  <div class="background-circle circle1"></div>
  <div class="background-circle circle2"></div>
  <div class="background-circle circle3"></div>
  <div class="background-circle circle4"></div>
  <div class="background-circle circle5"></div>

  <div class="container">
    <div class="container__text-box container-top-text">
      <h1 class="h1-ac mb-0 container-top-text-1">All In One</h1>
      <h2 class="h2-ac-lght mb-0 container-top-text-2">DeFi Platform</h2>
      <p class="p-wh container-top-text-3">To swap, invest and earn with crypto at ease.</p>
      <a class="container-bottom-link-box" href="login-page">
        <div class="container-top-link-1 gradient-background">START NOW</div>
      </a>
    </div>
    <div class="container__trending trending-container">
      <div class="trending-container__text-box">
        <span class="trending-container__text gradient-text">Trending</span>
      </div>
      <div class="container__trending-main-element">
        <div class="container__trending-list">
          <div class="container__trending-element">
            <div class="container__list-element-text-box">
              <span class="list-element-text1">Green Satoshi Token</span>
              <span class="list-element-text2">-4.11%</span>
            </div>
            <div class="container__list-element-box">
              <div class="list-box-element1">
                <span class="list-element-box-text1">$ 2.89</span>
                <img src="../../../assets/img/home-page/coin1.svg" alt="img">
              </div>
              <div class="list-box-element2">
                <div class="list-box-element2-background">
                  <img src="../../../assets/img/home-page/timetable1.svg" alt="img">
                </div>
              </div>
            </div>
          </div>

          <div class="container__trending-element">
            <div class="container__list-element-text-box">
              <span class="list-element-text1">STEPN</span>
              <span class="list-element-text2">-6.98%</span>
            </div>
            <div class="container__list-element-box">
              <div class="list-box-element1">
                <span class="list-element-box-text1">$ 1.42</span>
                <img src="../../../assets/img/home-page/coin2.svg" alt="img">
              </div>
              <div class="list-box-element2">
                <div class="list-box-element2-background">
                  <img src="../../../assets/img/home-page/timetable2.svg" alt="img">
                </div>
              </div>
            </div>
          </div>

          <div class="container__trending-element">
            <div class="container__list-element-text-box">
              <span class="list-element-text1">Terra</span>
              <span class="list-element-text2">-11.93%</span>
            </div>
            <div class="container__list-element-box">
              <div class="list-box-element1">
                <span class="list-element-box-text1">$ 0.001</span>
                <img src="../../../assets/img/home-page/coin3.svg" alt="img">
              </div>
              <div class="list-box-element2">
                <div class="list-box-element2-background">
                  <img src="../../../assets/img/home-page/timetable3.svg" alt="img">
                </div>
              </div>
            </div>
          </div>

          <div class="container__trending-element">
            <div class="container__list-element-text-box">
              <span class="list-element-text1">PancakeSwap</span>
              <span class="list-element-text2">1.32%</span>
            </div>
            <div class="container__list-element-box">
              <div class="list-box-element1">
                <span class="list-element-box-text1">$ 7.18</span>
                <img src="../../../assets/img/home-page/coin4.svg" alt="img">
              </div>
              <div class="list-box-element2">
                <div class="list-box-element2-background">
                  <img src="../../../assets/img/home-page/timetable4.svg" alt="img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container__popular-markets">
      <div class="popular-markets__text-box">
        <span class="popular-markets__text gradient-text">Popular Markets</span>
      </div>
      <div class="container__grid">
        <div class="grid-item">CRYPTOCURRENCIES</div>
        <div class="grid-item">LAST PRICE</div>
        <div class="grid-item">24H CHANGE</div>
        <div class="grid-item">7D CHANGE</div>
        <div class="grid-item">LAST 7 DAYS</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin1.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">Bitcoin</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">BTC</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$29,304.96</div>
        <div class="grid-item text-weight-14px color-text-red">-2.66%</div>
        <div class="grid-item text-weight-14px color-text-red">-1.56%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph1.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin2.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">BNB</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">Binance Coin</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$291.52</div>
        <div class="grid-item text-weight-14px color-text-red">-0.58%</div>
        <div class="grid-item text-weight-14px color-text-red">-17.54%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph2.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin3.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">ETH</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">Ethereum</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$2,004.26</div>
        <div class="grid-item text-weight-14px color-text-red">-1.13%</div>
        <div class="grid-item text-weight-14px color-text-red">-19.92%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph3.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin4.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">SHIB</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">SHIBAINU</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$0.000012</div>
        <div class="grid-item text-weight-14px color-text-red">-3.54%</div>
        <div class="grid-item text-weight-14px color-text-red">-1.06%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph4.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin5.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">Tether</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">USDT</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$0.9987</div>
        <div class="grid-item text-weight-14px color-text-red">-0.02%</div>
        <div class="grid-item text-weight-14px color-text-green">0.05%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph5.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin6.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">USD Coin</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">USDC</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$1.00</div>
        <div class="grid-item text-weight-14px color-text-red">-0.01%</div>
        <div class="grid-item text-weight-14px color-text-green">0.02%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph6.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin7.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">XRP</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">XRP</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$0.4142</div>
        <div class="grid-item text-weight-14px color-text-red">-3.84%</div>
        <div class="grid-item text-weight-14px color-text-red">-1.35%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph7.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin8.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">Binance USD</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">BUSD</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$1.00</div>
        <div class="grid-item text-weight-14px color-text-green">0.02%</div>
        <div class="grid-item text-weight-14px color-text-red">-0.26%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph8.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin9.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">Cardano</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">ADA</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$7.18</div>
        <div class="grid-item text-weight-14px color-text-red">-7.18%</div>
        <div class="grid-item text-weight-14px color-text-red">-2.03%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph9.svg" alt="img">
        </div>

        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/coin10.svg" alt="img">
          <div class="grid-item__coin-text coin-text-grid-item">
            <span class="coin-text-grid-item__text1">Solana</span>
            <span class="coin-text-grid-item__text2 text-weight-14px">SOL</span>
          </div>
        </div>
        <div class="grid-item text-weight-14px">$9.18</div>
        <div class="grid-item text-weight-14px color-text-red">-7.07%</div>
        <div class="grid-item text-weight-14px color-text-green">4.03%</div>
        <div class="grid-item">
          <img src="../../../assets/img/home-page-table/graph10.svg" alt="img">
        </div>
      </div>
    </div>

    <div class="container__button-view-more">
      <a class="container-button-view-more" href="#">
        <div class="container-button-view-more-link-1 gradient-background">
          <span>VIEW MORE</span>
          <img src="../../../assets/img/arrow-to-the-right.svg" alt="img">
        </div>
      </a>
    </div>

    <div class="container__information-apps information-apps">
      <div class="information-apps__list">
        <div class="information-apps__element apps-element">
          <span class="apps-element__text-1">750M+</span>
          <span class="apps-element__text-2">Trading Volume</span>
        </div>
        <div class="information-apps__element apps-element">
          <span class="apps-element__text-1">2M+</span>
          <span class="apps-element__text-2">Total Users</span>
        </div>
        <div class="information-apps__element apps-element">
          <span class="apps-element__text-1">50+</span>
          <span class="apps-element__text-2">Blockchains</span>
        </div>
        <div class="information-apps__element apps-element">
          <span class="apps-element__text-1">100+</span>
          <span class="apps-element__text-2">Countries</span>
        </div>
      </div>
    </div>

  </div>
</body>