@import '../../../styles/styles';

body {
  position: relative;
  overflow: hidden;
}
.background-circle {
  position: absolute;
  filter: blur(240px);
  z-index: 0;
  opacity: 1;
}
.circle1 {
  width: 700px;
  height: 700px;
  top: 15%;
  left: -10%;
}
.circle2 {
  width: 600px;
  height: 600px;
  top: -10%;
  right: -15%;
}

.circle3 {
  width: 400px;
  height: 400px;
  top: 50%;
  right: -10%;
}

.circle4 {
  width: 500px;
  height: 500px;
  top: 70%;
  left: -5%;
}

.circle5 {
  width: 500px;
  height: 500px;
  top: 99%;
  left: 60%;
}

.container {
  position: relative;
  min-height: 2200px;
  z-index: 1;
  background-color: transparent !important;
}
