@import '../../../../../styles/styles';

.card-header {
  @extend .color-background-8;
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--scroll-bar);
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.price {
  font-size: 32px;
  font-family: $font-family-inter;
  font-weight: 500;
  color: var(--text-color);
}

.currency {
  font-size: 1rem;
  color: var(--text-color);
}

span {
  font-size: 15px;
  font-family: $font-family-inter;
  font-weight: 400;
}

p {
  font-size: 14px;
  font-family: $font-family-inter;
  font-weight: 300;
  margin: 0 !important;
}
