@import '../../../../../styles/styles';

.card {
  @extend .color-background-8;
  color: var(--text-color) !important;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.token-logo {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.token {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

h5 {
  font-size: 15px;
  font-family: $font-family-inter;
  font-weight: 300;
}

span {
  font-size: 16px;
  font-family: $font-family-inter;
  font-weight: 400;
}
