@import '../../../../../styles/styles';

.search-box {
  @extend .color-background-8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.search-box input {
  color: var(--text-color);
}

.search-box input::placeholder {
  color: var(--text-color) !important;
}

.placeholder-text {
  font-size: 15px;
  font-family: $font-family-inter;
  font-weight: 300;
  text-align: center;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 10px;
}

.input-container input {
  padding-left: 40px;
}
