<div class="card h-100">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <span>Rate</span>
      <span>{{ rate }}</span>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <div class="light">Inverse Rate</div>
      <div class="med">{{ inverseRate }}</div>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <span class="light">Price Impact</span>
      <span class="med">{{ priceImpact }}</span>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <span class="light">Gwei</span>
      <span class="med">{{ gwei }}</span>
    </div>
    <div class="mt-4">
      <!--      make dynamic-->
      <input type="range" class="form-range" min="1" max="100" value="32">
    </div>
    <div class="d-flex justify-content-between mt-4">
      <span class="light">Estimate gas fee</span>
      <span class="med">{{ estimateGasFee }}</span>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <span class="light">Liquidity Fee</span>
      <span>{{ liquidityFee }}</span>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-start my-3 align-items-center">
      <img src="assets/img/market/coin_logos/eth_logo.png" alt="ETH" class="token-icon">
      ETH
      <svg class="exchange-arrow mx-2" width="7" height="13" viewBox="0 0 7 13" fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M1 11.625L6 6.3125L1 1" stroke="url(#paint0_linear_53_818)" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"/>
        <defs>
          <linearGradient id="paint0_linear_53_818" x1="0.5" y1="12" x2="8" y2="0.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E86EA0"/>
            <stop offset="1" stop-color="#BA28FF"/>
          </linearGradient>
        </defs>
      </svg>
      <img src="assets/img/market/coin_logos/usdt_logo.png" alt="USDT" class="token-icon">
      USDT
    </div>
  </div>
</div>
