<footer class="footer">
  <div class="container">
    <div class="row ">
      <!-- Первая колонка -->
      <div class="col-6 col-md-3">
        <a class="navbar-brand" href="#">
          <img class="logo mb-4" src="assets/img/Metacoin-Logo.svg" alt="Metacoin">
        </a>

        <button class="btn mb-5">
          <img src="assets/img/dwnld-appstore.svg" alt="appstore" class="btn-icon">
          <div class="btn-text">
            <span>Download on</span>
            <br> App Store
          </div>
        </button>

        <button class="btn mb-5">
          <img src="assets/img/dwnld-gplay.svg" alt="gplay" class="btn-icon">
          <div class="btn-text">
            <span>Get it on</span>
            <br> Google Play
          </div>
        </button>
      </div>
      <!-- Вторая колонка -->
      <div class="col-6 my-3 col-md-2 mt-md-0 text-center text-md-start">
        <h2 class="footer-heading mb-4">Product</h2>
        <ul>
          <li><a href="#">Wallet</a></li>
          <li><a href="#">Exchange</a></li>
        </ul>
      </div>
      <!-- Третья колонка -->
      <div class="col-6 my-3 col-md-2 mt-md-0 text-center text-md-start">
        <h2 class="footer-heading mb-4">About Us</h2>
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Terms Of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <!-- Четвертая колонка -->
      <div class="col-6 my-3 col-md-3 mt-md-0 text-center text-md-start">
        <h2 class="footer-heading mb-4">Support</h2>
        <ul>
          <li><a href="#">Beginner's Guide</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Email Us</a></li>
          <li><a href="#">Livechat Support</a></li>
        </ul>
      </div>
      <!-- Пятая колонка -->
      <div class="col-6 my-3 col-md-2 mt-md-0 text-center text-md-start">
        <h2 class="footer-heading mb-4">Socials</h2>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Telegram</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>


</footer>
<div class="small-footer">
  <div class="background-circle circle1"></div>

  <div class="copyright">2022 Metacoin. All Rights Reserved</div>
</div>
