@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// Глобальные переменные для шрифтов

$font-family-roboto: 'Roboto', sans-serif;
$font-family-inter: 'Inter', sans-serif;
$font-family-philosopher: 'Philosopher', sans-serif;


// Глобальные переменные для цветов
// Цветовая палитра для темной темы
$dk-md-background: #210B54; // Основной цвет фона
$dk-md-accent-light: #FEAFFE; // Светло-розовый акцент
$dk-md-accent: #E86EA0; // Розовый акцент
//$dk-md-text: #696585; // Темно-серый для текста
$dk-md-text: #FFFFFF; // белый для текста
$dk-md-header-bg: #0A052B; // Темно-синий для фона хедера
$dk-md-card-bg: #210B54; // Черный для фона карточек


// Цветовая палитра для светлой темы
//$wt-md-background: #B7AFFE; // Основной цвет фона
$wt-md-background: #f6ffee; // Основной цвет фона
$wt-md-accent-light: #E86EA0; // Розовый акцент
$wt-md-accent: #BA28FF; // Ярко-фиолетовый акцент
$wt-md-text: #4E5573; // Темно-серый для текста
$wt-md-highlight: #FEF6A5; // Светло-желтый для подсветок
$wt-md-white: #FFFDFA; // Белый для фона

// Цвета для подтверждения и предупреждения, общие для обоих стилей
$confirmation-color: #23A757; // Зеленый для подтверждения
$warning-color: #DA1414; // Красный для предупреждения

