// Подключение библиотек
@import 'variables';
@import 'mixins';
// @import "../../node_modules/bootstrap/scss/bootstrap";

:root { //цвет по умолчанию черная палитра
  --background-color: #{$dk-md-background};
  --accent-light: #{$dk-md-accent-light};
  --accent: #{$dk-md-accent};
  --text-color: #{$dk-md-text};
  --header-bg: #{$dk-md-header-bg};
  --card-bg: #{$dk-md-card-bg};
  --container-background-color-main: #{$dk-md-background};
}

// Темные и светлые темы
body.dark-theme {
  --background-color: #{$dk-md-background};
  --accent-light: #{$dk-md-accent-light};
  --accent: #{$dk-md-accent};
  --text-color: #{$dk-md-text};
  --header-bg: #{$dk-md-header-bg};
  --card-bg: #{$dk-md-card-bg};
  --container-background-color-main: #{$dk-md-background};
}

body.light-theme {
  --background-color: #{$wt-md-background};
  --accent-light: #{$wt-md-accent-light};
  --accent: #{$wt-md-accent};
  --text-color: #{$wt-md-text};
  --header-bg: #{$wt-md-highlight};
  --card-bg: #{$wt-md-white};
  --container-background-color-main: #{$wt-md-background};
}

// Глобальные переменные
:root {
  --container-width-max: 1600px;
}

// Стили для контейнера
.container {
  max-width: 960px;
}

// Основные стили для body
body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  max-width: var(--container-width-max) !important;
  margin: 0 auto !important;
}

// Стили для различных элементов
:host {

  // Для цвета фона 50%
  body.dark-theme & .color-background-5 {
    background: rgba($dk-md-background, 0.5);
  }

  body.light-theme & .color-background-5 {
    background: rgba($wt-md-background, 0.5);
  }

  // Для цвета фона 80%
  body.dark-theme & .color-background-8 {
    background: rgba($dk-md-background, 0.8);
  }

  body.light-theme & .color-background-8 {
    background: rgba($wt-md-background, 0.8);
  }

  // Для кнопок и фона
  body.dark-theme & .gradient-background,
  body.dark-theme & .gradient-background-static
  {
    background: linear-gradient(78deg, rgba($dk-md-accent-light, 1) 0%, rgba($dk-md-accent, 1) 100%);
  }

  body.light-theme & .gradient-background,
  body.light-theme & .gradient-background-static{
    background: linear-gradient(78deg, rgba($wt-md-accent, 1) 0%, rgba($wt-md-accent-light, 1) 100%);
  }

  // Для кнопок и фона :hover
  body.dark-theme & .gradient-background:hover,
  {
    background: linear-gradient(78deg, rgba($dk-md-accent, 1) 0%, rgba($dk-md-accent-light, 1) 100%);
  }

  body.light-theme & .gradient-background:hover {
    background: linear-gradient(78deg, rgba($wt-md-accent-light, 1) 0%, rgba($wt-md-accent, 1) 100%);
  }

  // Для текста
  body.dark-theme & .gradient-text,
  body.dark-theme & .gradient-text-static {
    background: linear-gradient(78deg, rgba($dk-md-accent, 1) 0%, rgba($dk-md-accent-light, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  body.light-theme & .gradient-text,
  body.light-theme & .gradient-text-static {
    background: linear-gradient(78deg, rgba($wt-md-accent-light, 1) 0%, rgba($wt-md-accent, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // Для текста :hover
  body.dark-theme & .gradient-text:hover {
    background: linear-gradient(78deg, rgba($dk-md-accent-light, 1) 0%, rgba($dk-md-accent, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  body.light-theme & .gradient-text:hover {
    background: linear-gradient(78deg, rgba($wt-md-accent, 1) 0%, rgba($wt-md-accent-light, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // Для кружков
  body.dark-theme & .circle1,
  body.dark-theme & .circle3,
  body.dark-theme & .circle5,
  body.dark-theme & .login-page__circle1,
  body.dark-theme & .sing-up-page__circle1 {
    background-color: $dk-md-accent-light;
  }

  body.dark-theme & .circle2,
  body.dark-theme & .circle4,
  body.dark-theme & .login-page__circle2,
  body.dark-theme & .sing-up-page__circle2 {
    background-color: #B7AFFE;
  }

  body.light-theme & .circle1,
  body.light-theme & .circle3,
  body.light-theme & .circle5,
  body.light-theme & .login-page__circle1,
  body.light-theme & .sing-up-page__circle1 {
    background-color: $wt-md-highlight;
  }

  body.light-theme & .circle2,
  body.light-theme & .circle4,
  body.light-theme & .login-page__circle2,
  body.light-theme & .sing-up-page__circle2 {
    background-color: #B7AFFE;
  }


}

// Стили для теней
.shadow-box {
  padding: 0 5px;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.25);
  z-index: 1;
  height: 100%;
}

.shadow-box-sm-1 {
  padding: 0 2px;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 100%;
}

.shadow-box-sm-2 {
  padding: 0 2px;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 100%;
}
