@import '../../../../../styles/styles';

.card {
  @extend .color-background-8;
  color: var(--text-color) !important;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

h6 {
  font-size: 15px;
  font-family: $font-family-inter;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-family: $font-family-inter;
  font-weight: 600;
}

span {
  font-size: 15px;
  font-family: $font-family-inter;
  font-weight: 400;
}

