@import '../../../../styles/styles';

.chart-info {
  @extend .color-background-5;
  color: var(--text-color);
  border-radius: 10px;
  min-height: 200px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
}

.col {
  font-size: 14px;
  font-family: $font-family-inter;
  font-weight: 300;
}
