@import '../../../../../styles/styles';


.right-sidebar {
  color: var(--text-color);
  font-weight: lighter;
}

.number-item {
  font-size: 11px;
  font-family: $font-family-inter;
  font-weight: 400;
}
