<body>
<div class="background-circle circle1"></div>
<div class="background-circle circle2"></div>

<div class="container inter">
  <div class="container__inform-four-elem">
    <div class="container__list">
      <div class="container__element container-element">
        <div class="container-element__box-1 box-1-element">
          <div class="box-1-element__1">
                     <span class="box-1-element__part-1 box-1-element-part">
                        <img class="box-1-element-part__1" src="../../../assets/img/token-info-page/coin1.svg"
                             alt="img">
                        <span class="box-1-element-part__2">GST</span>
                     </span>
            <span class="box-1-element__part-2">$ 2.89</span>
            <span class="box-1-element__part-3">LIQUIDITY</span>
            <span class="box-1-element__part-4">$153,137.84</span>
            <span class="box-1-element__part-5">-1,214.75%</span>
          </div>
        </div>
        <div class="container-element__box-2 box-2-element">
          <div class="box-2-element__1">
            <img src="../../../assets/img/token-info-page/graf1.svg" alt="img">
          </div>
          <div class="box-2-element__2">
            <span class="box-2-element__part-1">VOLUME</span>
            <span class="box-2-element__part-2">$64,723,191</span>
            <span class="box-2-element__part-3">-0.58%</span>
          </div>
        </div>
      </div>

      <div class="container__element container-element">
        <div class="container-element__box-1 box-1-element">
          <div class="box-1-element__1">
                     <span class="box-1-element__part-1 box-1-element-part">
                        <img class="box-1-element-part__1" src="../../../assets/img/token-info-page/coin2.svg"
                             alt="img">
                        <span class="box-1-element-part__2">GMT</span>
                     </span>
            <span class="box-1-element__part-2">$ 1.42</span>
            <span class="box-1-element__part-3">LIQUIDITY</span>
            <span class="box-1-element__part-4">$40,137,730</span>
            <span class="box-1-element__part-5">-1,106.21%</span>
          </div>
        </div>
        <div class="container-element__box-2 box-2-element">
          <div class="box-2-element__1">
            <img src="../../../assets/img/token-info-page/graf2.svg" alt="img">
          </div>
          <div class="box-2-element__2">
            <span class="box-2-element__part-1">VOLUME</span>
            <span class="box-2-element__part-2">$460,190,370</span>
            <span class="box-2-element__part-3">-29.82%</span>
          </div>
        </div>
      </div>

      <div class="container__element container-element">
        <div class="container-element__box-1 box-1-element">
          <div class="box-1-element__1">
                     <span class="box-1-element__part-1 box-1-element-part">
                        <img class="box-1-element-part__1" src="../../../assets/img/token-info-page/coin3.svg"
                             alt="img">
                        <span class="box-1-element-part__2">LUNA</span>
                     </span>
            <span class="box-1-element__part-2">$ 0.0001709</span>
            <span class="box-1-element__part-3">LIQUIDITY</span>
            <span class="box-1-element__part-4">$16,165.84</span>
            <span class="box-1-element__part-5">-1,116.78%</span>
          </div>
        </div>
        <div class="container-element__box-2 box-2-element">
          <div class="box-2-element__1">
            <img src="../../../assets/img/token-info-page/graf3.svg" alt="img">
          </div>
          <div class="box-2-element__2">
            <span class="box-2-element__part-1">VOLUME</span>
            <span class="box-2-element__part-2">$100,447.93</span>
            <span class="box-2-element__part-3">-53.45%</span>
          </div>
        </div>
      </div>

      <div class="container__element container-element">
        <div class="container-element__box-1 box-1-element">
          <div class="box-1-element__1">
                     <span class="box-1-element__part-1 box-1-element-part">
                        <img class="box-1-element-part__1" src="../../../assets/img/token-info-page/coin4.svg"
                             alt="img">
                        <span class="box-1-element-part__2">CAKE</span>
                     </span>
            <span class="box-1-element__part-2">$ 7.18</span>
            <span class="box-1-element__part-3">LIQUIDITY</span>
            <span class="box-1-element__part-4">$21,325.64</span>
            <span class="box-1-element__part-5">0.81%</span>
          </div>
        </div>
        <div class="container-element__box-2 box-2-element">
          <div class="box-2-element__1">
            <img src="../../../assets/img/token-info-page/graf4.svg" alt="img">
          </div>
          <div class="box-2-element__2">
            <span class="box-2-element__part-1">VOLUME</span>
            <span class="box-2-element__part-2">$121,738,635</span>
            <span class="box-2-element__part-3">-21.83%</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container__input-box container-input-box">
    <div class="search-box p-1 mb-1 rounded-5">
      <div class="input-container">
        <input type="text" class="form-control border-0 rounded-5 placeholder-text" placeholder="Search">
        <svg class="input-icon" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 21L16.2779 16.2695L21 21ZM18.8947 9.94737C18.8947 12.3204 17.9521 14.5962 16.2741 16.2741C14.5962 17.9521 12.3204 18.8947 9.94737 18.8947C7.57438 18.8947 5.29858 17.9521 3.62062 16.2741C1.94267 14.5962 1 12.3204 1 9.94737C1 7.57438 1.94267 5.29858 3.62062 3.62062C5.29858 1.94267 7.57438 1 9.94737 1C12.3204 1 14.5962 1.94267 16.2741 3.62062C17.9521 5.29858 18.8947 7.57438 18.8947 9.94737V9.94737Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
  </div>



  <div class="container__table-coin">
    <div class="container__color-first-row"></div>
    <div class="container__grid ">
      <div class="grid-item">
        <img class="grid-item-img-full-hart" src="../../../assets/img/token-info-page/empty-heart-black.svg"
             alt="img">
        <span class="span-med">TOKEN NAME</span>
      </div>
      <div class="grid-item span-med">ADDRESS</div>
      <div class="grid-item span-med">PRICE</div>
      <div class="grid-item span-med">VALUE</div>
      <div class="grid-item span-med">BALANCE</div>
      <div class="grid-item span-med">LIQUIDITY</div>
      <div class="grid-item span-med">VOLUME (24H)</div>
      <div class="grid-item span-med">TRANSACTIONS</div>
      <div class="grid-item ">
        <img class="grid-item-img-full-hart" src="../../../assets/img/token-info-page/beating-heart.svg"
             alt="img">
        <img class="grid-item-img-coin" src="../../../assets/img/home-page-table/coin3.svg" alt="img">
        <div class="grid-item-box-text">
          <span class="grid-item-box-text__1">ETH</span>
          <span class="grid-item-box-text__2">Ethereum</span>
        </div>
      </div>
      <div class="grid-item">
        <span>0xEee...eEEeE</span>
        <a href="">
          <img src="../../../assets/img/token-info-page/folder.svg" alt="img">
        </a>
      </div>
      <div class="grid-item">$2,004.26</div>
      <div class="grid-item">1.26</div>
      <div class="grid-item">$2,525.3676</div>
      <div class="grid-item color-text-red">6,423.63%</div>
      <div class="grid-item color-text-red">-19.92%</div>
      <div class="grid-item color-text-red">-1.13%</div>

      <div class="grid-item">
        <img class="grid-item-img-full-hart" src="../../../assets/img/token-info-page/empty-heart-black.svg"
             alt="img">
        <img class="grid-item-img-coin" src="../../../assets/img/home-page-table/coin5.svg" alt="img">
        <div class="grid-item-box-text">
          <span class="grid-item-box-text__1">Tether</span>
          <span class="grid-item-box-text__2">USDT</span>
        </div>
      </div>
      <div class="grid-item">
        <span>0xdAC...31ec7</span>
        <a href="">
          <img src="../../../assets/img/token-info-page/folder.svg" alt="img">
        </a>
      </div>
      <div class="grid-item">$0.9987</div>
      <div class="grid-item">848.57</div>
      <div class="grid-item">$847.466</div>
      <div class="grid-item color-text-red">2,543.68%</div>
      <div class="grid-item color-text-green">0.05%</div>
      <div class="grid-item color-text-red">-0.02%</div>

      <div class="grid-item">
        <img class="grid-item-img-full-hart" src="../../../assets/img/token-info-page/empty-heart-black.svg"
             alt="img">
        <img class="grid-item-img-coin" src="../../../assets/img/home-page-table/coin6.svg" alt="img">
        <div class="grid-item-box-text">
          <span class="grid-item-box-text__1">USD Coin</span>
          <span class="grid-item-box-text__2">USDC</span>
        </div>
      </div>
      <div class="grid-item">
        <span>0xA0b...6eB48</span>
        <a href="">
          <img src="../../../assets/img/token-info-page/folder.svg" alt="img">
        </a>
      </div>
      <div class="grid-item">$1.00</div>
      <div class="grid-item">1,869.954</div>
      <div class="grid-item">$1,869.954</div>
      <div class="grid-item color-text-red">8,243.53%</div>
      <div class="grid-item color-text-green">0.02%</div>
      <div class="grid-item color-text-red">-0.01%</div>

      <div class="grid-item">
        <img class="grid-item-img-full-hart" src="../../../assets/img/token-info-page/empty-heart-black.svg"
             alt="img">
        <img class="grid-item-img-coin" src="../../../assets/img/home-page-table/coin7.svg" alt="img">
        <div class="grid-item-box-text">
          <span class="grid-item-box-text__1">XRP</span>
          <span class="grid-item-box-text__2">XRP</span>
        </div>
      </div>
      <div class="grid-item">
        <span>0xA2F...6645a</span>
        <a href="">
          <img src="../../../assets/img/token-info-page/folder.svg" alt="img">
        </a>
      </div>
      <div class="grid-item">$0.4142</div>
      <div class="grid-item">659.345</div>
      <div class="grid-item">$237.100</div>
      <div class="grid-item color-text-red">6,343.13%</div>
      <div class="grid-item color-text-red">-1.35%</div>
      <div class="grid-item color-text-red">-3.84%</div>

      <div class="grid-item">
        <img class="grid-item-img-full-hart" src="../../../assets/img/token-info-page/beating-heart.svg"
             alt="img">
        <img class="grid-item-img-coin" src="../../../assets/img/home-page-table/coin10.svg" alt="img">
        <div class="grid-item-box-text">
          <span class="grid-item-box-text__1">Solana</span>
          <span class="grid-item-box-text__2">SOL</span>
        </div>
      </div>
      <div class="grid-item">
        <span>0xD31...1b89c</span>
        <a href="">
          <img src="../../../assets/img/token-info-page/folder.svg" alt="img">
        </a>
      </div>
      <div class="grid-item">$7.18</div>
      <div class="grid-item">83.98</div>
      <div class="grid-item">$602.976</div>
      <div class="grid-item color-text-green">+8,443.67%</div>
      <div class="grid-item color-text-green">4.03%</div>
      <div class="grid-item color-text-red">-7.07%</div>

      <div class="grid-item">
        <img class="grid-item-img-full-hart" src="../../../assets/img/token-info-page/beating-heart.svg"
             alt="img">
        <img class="grid-item-img-coin" src="../../../assets/img/home-page-table/coin2.svg" alt="img">
        <div class="grid-item-box-text">
          <span class="grid-item-box-text__1">BNB</span>
          <span class="grid-item-box-text__2">Binance Coin</span>
        </div>
      </div>
      <div class="grid-item">
        <span>0x264...4a493</span>
        <a href="">
          <img src="../../../assets/img/token-info-page/folder.svg" alt="img">
        </a>
      </div>
      <div class="grid-item">$291.52</div>
      <div class="grid-item">2.12</div>
      <div class="grid-item">$465.382</div>
      <div class="grid-item color-text-red">9,963.63%</div>
      <div class="grid-item color-text-red">-0.58%</div>
      <div class="grid-item color-text-red">-17.54%</div>

      <div class="grid-item">
        <img src="../../../assets/img/token-info-page/empty-heart-black.svg" alt="img">
        <img class="grid-item-img-coin" src="../../../assets/img/home-page-table/coin8.svg" alt="img">
        <div class="grid-item-box-text">
          <span class="grid-item-box-text__1">Binance USD</span>
          <span class="grid-item-box-text__2">BUSD</span>
        </div>
      </div>
      <div class="grid-item">
        <span>0x4Fa...C7C53</span>
        <a href="">
          <img src="../../../assets/img/token-info-page/folder.svg" alt="img">
        </a>
      </div>
      <div class="grid-item">$1.00</div>
      <div class="grid-item">2,608.680</div>
      <div class="grid-item">$2,608.680</div>
      <div class="grid-item color-text-green">+13,458.43%</div>
      <div class="grid-item color-text-green">0.02%</div>
      <div class="grid-item color-text-red">-0.26%</div>
    </div>
  </div>
</div>
</body>
