<body>
<div class="background-circle circle1"></div>
<div class="background-circle circle2"></div>

<div class="container">
<div class="container-fluid d-flex flex-column h-100">
  <div class="row flex-grow-1 p-4">
    <!-- left sidebar (pool, token search) -->
    <div class="col-md-3 d-flex flex-column">
      <div class="flex-grow-1 mb-2">
        <app-market-summary></app-market-summary>
      </div>
      <div class="flex-grow-1">
        <app-market-token-search></app-market-token-search>
      </div>
    </div>
    <!-- trading chart -->
    <div class="col-md-6 d-flex flex-column">
      <div class="flex-grow-1 mb-2 h-100">
        <app-trading-chart></app-trading-chart>
      </div>
      <div class="flex-grow-1 mb-2 h-100">
        <app-chart-info></app-chart-info>
      </div>
    </div>
    <!-- right sidebar (balance, trading info e.g. price, gas, etc -->
    <div class="col-md-3 d-flex flex-column">
      <div class="flex-grow-1 mb-2 h-100">
        <app-token-exchange></app-token-exchange>
      </div>
      <div class="flex-grow-1 h-100">
        <app-token-exchange-details></app-token-exchange-details>
      </div>
    </div>
  </div>
</div>
</div>
</body>
