.login-page-conteiner {
   background-color: #210b54;
   display: flex;
   height: calc(100% - 35px);
   align-items: center;
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding-left: 200px;
}

.login-page {
   max-width: 390px;
   font-family: "Inter", sans-serif;
   letter-spacing: -0.37px;
   position: relative;
}

.login-page__login,
.login-page__sing-up {
   font-size: 32px;
   line-height: 28px;
   font-weight: 700;
   font-family: "Philosopher", sans-serif;
}

.login-page__login {
   height: 35px;
   background: linear-gradient(90deg, rgba(186, 41, 253, 1) 0%, rgba(231, 109, 161, 1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.login-page__sing-up {
   height: 35px;
   background-color: #998bb0;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.login-page__links {
   display: flex;
   gap: 50px;
   margin-bottom: 25px;
}

.form-login-page__label-email,
.form-login-page__label-password {
   margin-bottom: 10px;
   color: #ffffff;
   cursor: pointer;
   display: inline-block;
}

.form-login-page__input-email {
   margin-bottom: 25px;
}

.form-login-page__input-password {
   margin-bottom: 50px;
}

.form-login-page__button-submit {
   font-size: 20px;
   padding: 18px 0px;
   background: linear-gradient(90deg, rgba(186, 41, 253, 1) 0%, rgba(231, 109, 161, 1) 100%);
   width: 100%;
   border-radius: 50px;
   color: #ffffff;
}

.form-login-page__input-password,
.form-login-page__input-email {
   border-radius: 50px;
   width: 100%;
   background-color: #ffffff;
   padding: 20px;
}

.form-login-page__input-password:focus,
.form-login-page__input-email:focus {
   outline: inherit;
}

.link-back__link {
   color: #ffffff;
   position: relative;
   display: flex;
   align-items: center;
}

.link-back__text {
   line-height: 30px;
   margin-left: 40px;
}

.link-back__element {
   position: absolute;
   width: 30px;
   height: 30px;
   background: #d3cedd;
   top: 0;
   left: 0;
   z-index: -1;
   border-radius: 50%;
   padding: 9px 0px 0px 10px;
}


.login-page__form {
   margin-bottom: 20px;
}

/*=============*/

.login-page__text-meta,
.login-page__text-coin {
   position: absolute;
   color: transparent;
   font-size: 550px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #8935a1;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   z-index: -1;
}

.login-page__text-meta {
   top: -254px;
   left: -190px;
}

.login-page__text-coin {
   top: 130px;
   left: 400px;
}

.login-page__circle1,
.login-page__circle2 {
   position: absolute;
}

.login-page__circle1 {
   background-color: #633c87;
   width: 800px;
   height: 800px;
   top: 100px;
   left: -350px;
   border-radius: 50%;
   filter: blur(100px);
   z-index: -1;
}

.login-page__circle2 {
   background-color: #786ab7;
   width: 500px;
   height: 500px;
   top: -250px;
   left: 1000px;
   border-radius: 50%;
   filter: blur(100px);
   z-index: -1;
}

/*============*/

.sing-up-page {
   max-width: 390px;
   font-family: "Inter", sans-serif;
   letter-spacing: -0.37px;
   position: relative;
}

.sing-up-page__login,
.sing-up-page__sing-up {
   font-size: 32px;
   line-height: 28px;
   font-weight: 700;
   font-family: "Philosopher", sans-serif;
}

.sing-up-page__login {
   height: 35px;
   background-color: #998bb0;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.sing-up-page__sing-up {
   height: 35px;
   background: linear-gradient(90deg, rgba(186, 41, 253, 1) 0%, rgba(231, 109, 161, 1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.sing-up-page__links {
   display: flex;
   gap: 50px;
   margin-bottom: 25px;
}

.form-sing-up-page__label-email,
.form-sing-up-page__label-password,
.form-sing-up-page__label-referral-id,
.form-sing-up-page__label-username,
.form-sing-up-page__label-display-name,
.form-sing-up-page__label-confirm-password {
   margin-bottom: 10px;
   color: #ffffff;
   cursor: pointer;
   display: inline-block;
}

.form-sing-up-page__input-email,
.form-sing-up-page__input-referral-id {
   margin-bottom: 25px;
}

.form-sing-up-page__button-submit {
   font-size: 20px;
   padding: 18px 0px;
   background: linear-gradient(90deg, rgba(186, 41, 253, 1) 0%, rgba(231, 109, 161, 1) 100%);
   width: 100%;
   border-radius: 50px;
   color: #ffffff;
}

.form-sing-up-page__input-password,
.form-sing-up-page__input-email,
.form-sing-up-page__input-referral-id,
.form-sing-up-page__input-username,
.form-sing-up-page__input-display-name,
.form-sing-up-page__input-confirm-password {
   border-radius: 50px;
   width: 100%;
   background-color: #ffffff;
   padding: 20px;
}

.form-sing-up-page__user-box {
   display: flex;
   gap: 10px;
   margin-bottom: 25px;
}

.form-sing-up-page__password-box {
   display: flex;
   gap: 10px;
   margin-bottom: 50px;
}

.form-sing-up-page__input-password:focus,
.form-sing-up-page__input-email:focus,
.form-sing-up-page__input-referral-id:focus,
.form-sing-up-page__input-username:focus,
.form-sing-up-page__input-display-name,
.form-sing-up-page__input-confirm-password:focus {
   outline: inherit;
}

.sing-up-page__form {
   margin-bottom: 20px;
}

.sing-up-page__text-meta,
.sing-up-page__text-coin {
   position: absolute;
   color: transparent;
   font-size: 550px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #8935a1;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   z-index: -1;
}

.sing-up-page__text-meta {
   top: -144px;
   left: -190px;
}

.sing-up-page__text-coin {
   top: 240px;
   left: 400px;
}

.sing-up-page__circle1,
.sing-up-page__circle2 {
   position: absolute;
}

.sing-up-page__circle1 {
   background-color: #633c87;
   width: 800px;
   height: 800px;
   top: 210px;
   left: -350px;
   border-radius: 50%;
   filter: blur(100px);
   z-index: -1;
}

.sing-up-page__circle2 {
   background-color: #786ab7;
   width: 500px;
   height: 500px;
   top: -140px;
   left: 1000px;
   border-radius: 50%;
   filter: blur(100px);
   z-index: -1;
}

.show {
   display: block;
}

.hide {
   display: none;
}

@media screen and (max-width: 780px) {
   .login-page-conteiner {
      align-self: center;
      justify-content: center;
      padding: 15px 15px 15px 15px;
      min-height: 650px;
   }

   .login-page__links,
   .sing-up-page__links {
      justify-content: space-between;
      gap: 0;
   }

   .login-page,
   .sing-up-page {
      height: fit-content;
   }
}